body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background-color: #2f3061;
    width: 600px;
    margin: 0 auto;
    padding: 3em;

}
h2{
    color: 2f3061;
    margin: 0;
    padding: 0 0 0.5em 0;
    text-align: center;
}

#main{
    background: #A1c6d7;
    padding: 2em;
}